<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Auth Service Tests" parallel="true" thread-count="3">
    <listeners>
        <listener class-name="reporter.CustomReporter"/>
    </listeners>
    <test name="POST Login Tests">
        <classes>
            <class name="auth.POSTLoginTest"/>
        </classes>
    </test>
</suite>